body { font-family: Arial; background:#eef2f5; margin:20px;}
.container { max-width:900px; margin:auto; background:white; padding:20px; border-radius:8px;}
h2,h3,h4 { text-align:center; }
table { width:100%; border-collapse:collapse; margin:15px 0; }
th,td { border:1px solid #ccc; padding:8px; text-align:left; }
.progress-box { width:100%; height:20px; background:#ddd; border-radius:10px; margin:10px 0;}
#progress-bar { width:0%; height:100%; background:#4caf50; border-radius:10px;}
textarea { width:100%; height:80px; margin-top:5px; padding:5px;}
/* ===== KOP LAPORAN ===== */
.kop {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.kop img {
  width: 10px;      /* INI KUNCINYA */
  height: auto;
  max-height: 20px;
  object-fit: contain;
}

.kop-text h1,
.kop-text h2,
.kop-text h3 {
  margin: 2px 0;
}
}

.kop-text p {
  font-size: 13px;
  margin-top: 4px;
}
